fastapi[standard]~=0.111.0
fastapi_cache2
pydantic~=2.7.0
pydantic_settings==2.4.0
redis~=4.6.0
SQLAlchemy~=2.0.32
supabase~=2.4.1
asyncpg==0.29.0
fastapi-users[sqlalchemy]
passlib==1.7.4
celery==5.4.0
docker~=7.1.0
starlette~=0.37.2
psycopg2-binary==2.9.9
docx~=0.2.4
PyMuPDF==1.24.11
pdf2docx==0.5.8
python-magic
beautifulsoup4~=4.12.3
docx2pdf==0.1.8