fastapi[standard]~=0.111.0
fastapi_cache2
pydantic~=2.7.0
pydantic_settings==2.4.0
redis~=4.6.0
SQLAlchemy~=2.0.32
supabase~=2.4.1
asyncpg==0.29.0
fastapi-users[sqlalchemy]
passlib==1.7.4
celery==5.4.0
docker~=7.1.0
starlette~=0.37.2